<nav id="nav" class="navbar navbar-custom">
  <div id="butdiv" class="container-fluid butdiv">
    <button id="addclient" type="button" class="btn btn-outline-success" [routerLink]="['/clientform']">
      <img id="icon" src="../assets/icons/addclient.svg" class="img-fluid" alt="...">
    </button>
  </div>
</nav>




<table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last</th>
        <th scope="col">Phone</th>
        <th scope="col">Mail</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.lastName }}</td>
            <td>{{ client.phoneNumber }}</td>
            <td>{{ client.mail }}</td>
            <td>
                <a [routerLink]="['/clientdetail', client.id]">Ver Detalles</a>
              </td>
            
      </tr>
    </tbody>
  </table>










