.fc-event.event-hover {
    background-color: #FFD700; /* Cambia el color de fondo al pasar el mouse */
    border-color: #FFA500; /* Cambia el color del borde al pasar el mouse */
    color: #000; /* Cambia el color del texto al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }