nav {
    background-color: #f4f4f2;
  }
  
  .butdiv {
    display: flex;
    justify-content: flex-end;
    flex: 1;

  }

button:hover {
    background-color: #055f5b;
    border-color: #055f5b;
}

button {
    color: #055f5b;
    background-color: #8cbfbc;
    
}

#icon {
    width: 2em;
}

#logo {
    width: 2em;
}

[data-bs-custom-tooltip="true"] .tooltip-inner {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
    border: 1px solid #ccc; /* Agrega un borde */
  }
  
  [data-bs-custom-tooltip="true"] .tooltip-arrow {
    border-top-color: #f0f0f0; /* Cambia el color de la flecha */
  }