<nav id="nav" class="navbar navbar-custom">
      <div id="butdiv" class="container-fluid butdiv">
        <button type="button" class="btn btn-outline-success"><a [routerLink]="['/appointments']"><img id="icon" src="../assets/icons/calendar.svg" class="img-fluid" alt="..."></a></button>
        <button type="button" class="btn btn-outline-success"><a [routerLink]="['/clients']"><img id="icon" src="../assets/icons/client.svg" class="img-fluid" alt="..."></a></button>
        <button type="button" class="btn btn-outline-success"><a [routerLink]="['/pets']"><img id="icon" src="../assets/icons/paw.svg" class="img-fluid" alt="..."></a></button>
      </div>
  </nav>
<full-calendar [options]="calendarOptions"></full-calendar>
