<nav id="nav" class="navbar navbar-custom">
  <div id="butdiv" class="container-fluid butdiv">
    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back" class="btn btn-primary" (click)="goBack()">
      <img id="icon" src="../assets/icons/back.svg" class="img-fluid" alt="...">
    </button>
  <div id="butdiv" class="container-fluid butdiv">
    <button data-bs-toggle="tooltip" data-bs-placement="top" title="New Pet" class="btn btn-primary" (click)="navigateToPetForm()">
      <img id="icon" src="../assets/icons/cat.svg" class="img-fluid" alt="...">
    </button>
  </div>
  </div>
</nav>



<div id="mainDiv" class="container">

    <div id="clientDiv" class="container">
      
          <div id="nameDiv" class="container">
            <img id="iconBig" src="../assets/icons/client.svg" class="image-fluid">
            <p id="tittle">{{ client.name }}</p>
            <p id="tittle">{{ client.lastName }}</p>
            <img id="iconBig" src="../assets/icons/phone2.svg" class="image-fluid">
            <p id="tittle">{{ client.phoneNumber }}</p>
          </div>
          
          <div id="nameDiv" class="container">
            <img id="iconBig" src="../assets/icons/mail.svg" class="image-fluid">
            <p id="tittle">{{ client.mail }}</p>
            <img id="iconBig" src="../assets/icons/house.svg" class="image-fluid">
            <p id="tittle">{{ client.address }}</p>
          </div>

          

    </div>

    <div id="petsDiv" class="container">
        <h1 id="green">Pets</h1>
        <div id="petList" class="row">
          <div class="col-md-3" *ngFor="let pet of client.pets">
            <div class="card mb-4" style="width: 100%;">
              <div class="card-header">
               <h2 id="cardtittle"> {{ pet.name }} </h2> 
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>Especie: </p><p id="cardp">{{ pet.species }}</li> 
                <li class="list-group-item"><p>Raza: </p><p id="cardp">{{ pet.breed }}</li> 
                <li class="list-group-item"><p>Edad: </p><p id="cardp">{{ pet.age }}</li> 
                  <li class="list-group-item">
                    <a [routerLink]="['/petdetail', pet.id]">
                      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Medical History" id="petBtn" type="button" class="btn btn-outline-success">
                        <img id="icon" src="../assets/icons/heart.svg" class="img-fluid" alt="...">
                      </button>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="medicalDiv" class="container">
        <h1 id="white">Appointments</h1>
        <table id="medicalTable" class="table table-success table-striped table-hover bdr">
          <thead>
            <tr>
              <th>Pet</th>
              <th>Description</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{ appointment.pet.name }}</td>
              <td>{{ appointment.description }}</td>
              <td>{{ appointment.date | date: 'dd/MM/yyyy hh:mm a' }}</td>
              
            </tr>
          </tbody>
        </table>
      </div>

    </div>




