<nav id="nav" class="navbar navbar-custom">
    <div id="navmain" class="container-fluid">
      <div id="logodiv" class="container-fluid logo">
        <a class="navbar-brand" href="#">
            <img id="icon" src="../assets/icons/calendar.svg" class="img-fluid" alt="...">
          VetApp
        </a>
      </div>
      <div id="butdiv" class="container-fluid butdiv">
        <button type="button" class="btn btn-outline-success"><img id="icon" src="../assets/icons/calendar.svg" class="img-fluid" alt="..."></button>
        <button type="button" class="btn btn-outline-success"><a [routerLink]="['/clients']"><img id="icon" src="../assets/icons/client.svg" class="img-fluid" alt="..."></a></button>
        <button type="button" class="btn btn-outline-success"><a [routerLink]="['/pets']"><img id="icon" src="../assets/icons/paw.svg" class="img-fluid" alt="..."></a></button>
        <button type="button" class="btn btn-outline-success"><img id="icon" src="../assets/icons/treatment.svg" class="img-fluid" alt="..."></button>
        <button type="button" class="btn btn-outline-success"><img id="icon" src="../assets/icons/logout.svg" class="img-fluid" alt="..."></button>
      </div>
    </div>
  </nav>
