<nav id="nav" class="navbar navbar-custom">
  <div id="butdiv" class="container-fluid butdiv">
    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back" class="btn btn-primary" (click)="goBack()">
      <img id="icon" src="../assets/icons/back.svg" class="img-fluid" alt="...">
    </button>
    <div id="butdiv" class="container-fluid butdiv">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Medical History" type="button" class="btn btn-outline-success"><a [routerLink]="['/medhistory']"><img id="icon" src="../assets/icons/gotero.svg" class="img-fluid" alt="..."></a></button>
    </div>
  </div>
</nav>






<div id="mainDiv" class="container">

  <div id="clientDiv" class="container">
 
    <div id="nameDiv" class="container">
      <img id="iconBig" src="../assets/icons/cat.svg" class="image-fluid">
      <p id="tittle">{{ pet.name }}</p>
      <img id="iconBig" src="../assets/icons/arena.svg" class="image-fluid">
      <p id="tittle">{{ pet.age }} years</p>
      
    </div>
    
    <div id="nameDiv" class="container">
      <img id="iconBig" src="../assets/icons/bicho.svg" class="image-fluid">
      <p id="tittle">{{ pet.species }}</p>
      <p id="tittle">{{ pet.breed }}</p>
    </div>

    

</div>






    <!-- <div id="clientDiv" class="container">
      
          <div id="nameDiv" class="container">
            <p id="tittle">{{ pet.name }}</p>
            <p id="tittle">{{ pet.species }}</p>
            <p id="tittle">{{ pet.breed }}</p>
          <p id="tittle">Age:{{ pet.age }} years</p>
          </div>

          

    </div> -->

    <div id="petsDiv" class="container">
      <h1 id="green">Medical History</h1>
      
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>

          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicalHistory of pet.medicalHistories">
                <td>{{ medicalHistory.date }}</td>
                <td>{{ medicalHistory.description }}</td>
                
          </tr>
        </tbody>
      </table>
      

      <!-- <h1>Pets</h1>
        <div id="petList" class="row">
          <div class="col-md-3" *ngFor="let medicalHistory of pet.medicalHistories">
           
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><p id="cardp">Date: {{ medicalHistory.date }}</li>  Especie de la mascota
                <li class="list-group-item"><p id="cardp">Description {{ medicalHistory.description }}</li> 
              </ul>
          
        </div>
      </div> -->

    <div id="medicalDiv" class="container" >

    </div>
